body{text-align: center;
    background-color: rgb(219, 146, 232);}
#main-nav{
    background-color: #b62bce;
}



.accordion-button:hover {
    
    color: rgb(155, 17, 141);
}

img{
    height: 250px;
    width: 200px;
}

